 <div>
        {% if field.value|length > 0 %}
        <table class="table datagrid  ">
            <thead>
                <tr>
                    <th>Sequence Line</th>
                    <th>Sku</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Unit Cost</th>
                    <th>Total Cost</th>
                    <th>Margin</th>
                    <th>Margin (%)</th>
                    <th>Big Buy order id</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                {% for saleLine in field.value %}
                    <tr>
                    	<td data-label="Sequence Line" class="text-left field-text">{{saleLine.lineNumber}}</td>
                        <td data-label="Sku" class="text-left field-text">{{saleLine.sku}}</td>
                        <td data-label="Name" class="text-left field-text">{{saleLine.brand}} - {{saleLine.name}}</td>
                        <td data-label="Quantity" class="text-left field-text">{{saleLine.quantity}}</td>
                        <td data-label="Price" class="text-left field-text">{{saleLine.price}}</td>
                        <td data-label="Total Price" class="text-left field-text">{{saleLine.totalPrice}}</td>
                        <td data-label="Margin" class="text-left field-text">{{saleLine.margin}}</td>
                        <td data-label="Margin rate" class="text-left field-text">{{saleLine.marginRate}}</td>
                        <td data-label="Status" class="text-left field-text">
                            {% if  saleLine.status == 1 %}
    <span class="badge badge-info">
		Open
	</span>
{% elseif  saleLine.status == 2 %}
    <span class="badge badge-warning">
		Waiting release
	</span>
{% elseif  saleLine.status == 3 %}
    <span class="badge badge-warning">
		Released / waiting shipment
	</span>
{% elseif  saleLine.status == 4 %}
    <span class="badge badge-success">
		Picked and posted
	</span>
{% elseif  saleLine.status == 5 %}
    <span class="badge badge-success">
		Delivery confirmed
	</span>
{% elseif  saleLine.status == 6 %}
    <span class="badge badge-success">
		Invoice sent
	</span>
{% elseif  saleLine.status == 7 %}
    <span class="badge badge-default">
		Cancelled
	</span>
{% else %}	
	<span class="badge badge-default">
		Unknown ({{entity.instance.status}})
	</span>
{% endif %}
                        </td>
                        <td data-label="Big Buy order id" class="text-left field-text">{{saleLine.bigBuyOrderLine}}</td>
                        <td data-label="Created at" class="text-left field-text">{{saleLine.createdAt|date('Y-m-d H:i')}}</td>
                    </tr>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info ">No lines</div>
        {% endif %}
    </div>