{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
	<form id="formDate" {{ stimulus_controller('dashboard') }}>
		<div class="row">

			<div class="col-12 ">
				<div class="">
					<div class="y">
						<h5 class="">Sales on
							<input type="date" value="{{reportDto.dateReport|date('Y-m-d')}}" name="dateReport" data-action="dashboard#change"/></form>
					</h5>
					<h6>Period
						{{reportDto.dateStartPeriod|date('d-m-Y')}}
						-
						{{reportDto.dateEndPeriod|date('d-m-Y')}}
						(Week
						{{reportDto.dateReport|date('W')}})</h6>
				</div>

				<div class="row ">
					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center ">
						<div class="text-bg-primary text-white p-3 ">
							<span class="fs-5 fw-bold ">Daily Revenue</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.dailyRevenue}}€</span><br/>
							vs
							<strong>{{reportDto.pastDailyRevenue}}€</strong>
							on
							{{reportDto.pastDateReport|date('d-m-Y')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.dailyProgress}}%</span>
						</div>
					</div>
					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-primary text-white p-3 ">
							<span class="fs-5 fw-bold ">Daily orders</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.dailyNumberOfOrders}}</span><br/>
							vs
							<strong>{{reportDto.pastDailyNumberOfOrders}}</strong>
							on
							{{reportDto.pastDateReport|date('d-m-Y')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.dailyNumberOrdersProgress}}%</span>
						</div>
					</div>
					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-primary text-white p-3 ">
							<span class="fs-5 fw-bold ">Margin</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.dailyMargin}}€</span><br/>
							vs
							<strong>{{reportDto.pastDailyMargin}}€</strong>
							on
							{{reportDto.pastDateReport|date('d-m-Y')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.dailyMarginProgress}}%</span>
						</div>
					</div>

					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-primary text-white p-3 ">
							<span class="fs-5 fw-bold ">Margin %</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.dailyMarginRate}}%</span><br/>
							vs
							<strong>{{reportDto.pastDailyMarginRate}}%</strong>
							on
							{{reportDto.pastDateReport|date('d-m-Y')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.dailyMarginRateProgress}}%</span>
						</div>
					</div>

				</div>
				<div class="row ">
					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-info text-white p-3 ">
							<span class="fs-5 fw-bold ">Weekly Revenue</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.weeklyRevenue}}€</span><br/>
							vs
							<strong>{{reportDto.pastWeeklyRevenue}}€</strong>
							on week
							{{reportDto.pastDateStartPeriod|date('W')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.weeklyProgress}}%</span>
						</div>
					</div>
					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-info text-white p-3 ">
							<span class="fs-5 fw-bold ">Weekly orders</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.weeklyNumberOfOrders}}</span><br/>
							vs
							<strong>{{reportDto.pastWeeklyNumberOfOrders}}</strong>
							on week
							{{reportDto.pastDateReport|date('W')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.weeklyNumberOrdersProgress}}%</span>
						</div>
					</div>

					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-info text-white p-3 ">
							<span class="fs-5 fw-bold ">Weekly Margin</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.weeklyMargin}}€</span><br/>

							vs
							<strong>{{reportDto.pastWeeklyMargin}}€</strong>
							on
							{{reportDto.pastDateReport|date('W')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.weeklyMarginProgress}}%</span>
						</div>
					</div>

					<div class="mt-4 col-12 col-sm-6 col-md-3 text-center">
						<div class="text-bg-info text-white p-3 ">
							<span class="fs-5 fw-bold ">Weekly Margin %</span><br/>
							<span class="fs-2 fw-bold ">{{reportDto.weeklyMarginRate}}%</span><br/>
							vs
							<strong>{{reportDto.pastWeeklyMarginRate}}%</strong>
							on
							{{reportDto.pastDateReport|date('W')}}<br/>
							<span class="fs-6 fw-bold ">{{reportDto.weeklyMarginRateProgress}}%</span>
						</div>
					</div>

				</div>
				<div class="row ">
					<div class="col-12 col-md-6  mt-4">
						<h5 class="">Weekly comparaison of revenue</h5>
						{{ render_chart(reportDto.getChartRevenue) }}
					</div>
					<div class="col-12 col-md-6  mt-4">
						<h5 class="">Weekly comparaison of number of orders</h5>
						{{ render_chart(reportDto.getChartNbOrder) }}
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-3 mt-4">
						<h5 class="">Revenues by brand
						</h5>
						{{ render_chart(reportDto.getChartRevenueByBrand) }}
					</div>
					<div class="col-12 col-md-6  col-lg-3  mt-4">
						<h5 class="">Quantity by brand
						</h5>
						{{ render_chart(reportDto.getChartQuantityByBrand) }}
					</div>
					<div class="col-12 col-md-6  col-lg-3 mt-4">
						<h5 class="">Margin by brand
						</h5>
						{{ render_chart(reportDto.getChartMarginByBrand) }}
					</div>
					<div class="col-12 col-md-6  col-lg-3 mt-4">
						<h5 class="">Margin rate by brand
						</h5>
						{{ render_chart(reportDto.getChartMarginRateByBrand) }}

					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 mt-4">
						<h5 class="">Top 5 revenues by product during Week {{reportDto.dateReport|date('W')}}</h5>
						<div class="mt-2">
							<table class="table datagrid  ">
								<thead>
									<tr>
										<th>Sku</th>
										<th>Name</th>
										<th>Revenue</th>
										<th>Qty</th>
										<th>Margin</th>
										<th>Rate</th>
									</tr>
								</thead>
								<tbody>
									{% for saleLine in reportDto.getTopRevenueProducts %}
										<tr>
											<td data-label="Sku" class="text-left field-text">{{saleLine.sku}}</td>
											<td data-label="Name" class="text-left field-text">{{saleLine.name}}</td>
											<td data-label="Revenue" class="text-left field-text">{{saleLine.revenue}}€</td>
											<td data-label="Quantity" class="text-left field-text">{{saleLine.quantity}}</td>
											<td data-label="Margin" class="text-left field-text">{{saleLine.margin}}€</td>
											<td data-label="Margin Rate" class="text-left field-text">{{saleLine.marginRate}}%</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
					<div class="col-12 col-sm-6 mt-4">
						<h5 class="">Top 5 quantities by product  during Week {{reportDto.dateReport|date('W')}}
						</h5>
						<div class="mt-2">
							<table class="table datagrid  ">
								<thead>
									<tr>
										<th>Sku</th>
										<th>Name</th>
										<th>Revenue</th>
										<th>Qty</th>
										<th>Margin</th>
										<th>Rate</th>
									</tr>
								</thead>
								<tbody>
									{% for saleLine in reportDto.getTopQuantityProducts %}
										<tr>
											<td data-label="Sku" class="text-left field-text">{{saleLine.sku}}</td>
											<td data-label="Name" class="text-left field-text">{{saleLine.name}}</td>
											<td data-label="Revenue" class="text-left field-text">{{saleLine.revenue}}€</td>
											<td data-label="Quantity" class="text-left field-text">{{saleLine.quantity}}</td>
											<td data-label="Margin" class="text-left field-text">{{saleLine.margin}}€</td>
											<td data-label="Margin Rate" class="text-left field-text">{{saleLine.marginRate}}%</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
					<div class="col-12 col-sm-6 mt-4">
						<h5 class="">Top 5 margin by product during Week {{reportDto.dateReport|date('W')}}
						</h5>
						<div class="mt-2">
							<table class="table datagrid  ">
								<thead>
									<tr>
										<th>Sku</th>
										<th>Name</th>
										<th>Revenue</th>
										<th>Qty</th>
										<th>Margin</th>
										<th>Rate</th>
									</tr>
								</thead>
								<tbody>
									{% for saleLine in reportDto.getTopMarginProducts %}
										<tr>
											<td data-label="Sku" class="text-left field-text">{{saleLine.sku}}</td>
											<td data-label="Name" class="text-left field-text">{{saleLine.name}}</td>
											<td data-label="Revenue" class="text-left field-text">{{saleLine.revenue}}€</td>
											<td data-label="Quantity" class="text-left field-text">{{saleLine.quantity}}</td>
											<td data-label="Margin" class="text-left field-text">{{saleLine.margin}}€</td>
											<td data-label="Margin Rate" class="text-left field-text">{{saleLine.marginRate}}%</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
					<div class="col-12 col-sm-6 mt-4">
						<h5 class="">Top 5 margin rates by product during Week {{reportDto.dateReport|date('W')}}</h5>
						<div class="mt-2">
							<table class="table datagrid  ">
								<thead>
									<tr>
										<th>Sku</th>
										<th>Name</th>
										<th>Revenue</th>
										<th>Qty</th>
										<th>Margin</th>
										<th>Rate</th>
									</tr>
								</thead>
								<tbody>
									{% for saleLine in reportDto.getTopMarginRateProducts %}
										<tr>
											<td data-label="Sku" class="text-left field-text">{{saleLine.sku}}</td>
											<td data-label="Name" class="text-left field-text">{{saleLine.name}}</td>
											<td data-label="Revenue" class="text-left field-text">{{saleLine.revenue}}€</td>
											<td data-label="Quantity" class="text-left field-text">{{saleLine.quantity}}</td>
											<td data-label="Margin" class="text-left field-text">{{saleLine.margin}}€</td>
											<td data-label="Margin Rate" class="text-left field-text">{{saleLine.marginRate}}%</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-12  mt-4 mb-4">
			<div class="">
				<div class="y ">
					<h5 class="">Quick actions</h5>
					<div class="row ">
						<div class="mt-4 col-6 col-sm-3  text-center  ">
							<a href="{{ ea_url().setController('App\\Controller\\Admin\\BrandCrudController').setAction('index') }}" class=" text-white">
								<div class="text-bg-light p-2 fs-5 ">
									<i class="far fa-copyright"></i><br/>All<br/>brands
								</div>
							</a>
						</div>
						<div class="mt-4 col-6 col-sm-3  text-center  ">
							<a href="{{ ea_url().setController('App\\Controller\\Admin\\ProductCrudController').setAction('index') }}" class=" text-white">
								<div class="text-bg-light p-2 fs-5 ">
									<i class="fas fa-barcode"></i><br/>All<br/>products
								</div>
							</a>
						</div>
						<div class="mt-4 col-6 col-sm-3  text-center  ">
							<a href="{{ ea_url().setController('App\\Controller\\Admin\\SaleOrderCrudController').setAction('index') }}" class=" text-white">
								<div class="text-bg-light p-2 fs-5 ">
									<i class="fas fa-shopping-cart"></i><br/>All<br/>orders
								</div>
							</a>
						</div>
						<div class="mt-4 col-6 col-sm-3  text-center ">
							<a href="{{ ea_url().setController('App\\Controller\\Admin\\ImportPricingCrudController').setAction('import') }}" class=" text-white">
								<div class="text-bg-light p-2 fs-5 ">
									<i class="fas fa-upload"></i><br/>Import<br/>prices
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>{% endblock %}
